<li id="photo-modal-{{id}}" class="hide">
    <p class="clearfix" style="padding-left:20px;">{{caption}}</p>
    <a href="{{full_url}}">
        <img class="thumbnail" src="{{url}}" alt="{{caption}}" height="{{height}}" width="{{width}}">
    </a>
</li>
