<div class="modal">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{title}}</h3>
    </div>
    <div class="modal-body">
        <ul class="media-grid">
            {{#photos}}
                {{> photo_modal}}
            {{/photos}}
        </ul>
    </div>
    <div class="modal-footer">
        <div class="pagination center">
            <ul>
                <li id="post-modal-{{id}}-prev" class="prev"><a href="#">Previous</a></li>
                <li class="disabled"><a href="#" class="index-text"></a></li>
                <li id="post-modal-{{id}}-next" class="next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>
