{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block "title" %}Zoe Leigh Clark Striemer{% endblock %}</title>
        {% compress css %}
            <link rel="stylesheet" type="text/less" href="/static/css/bootstrap.less">
            <link rel="stylesheet" type="text/less" href="/static/css/base.less">
        {% endcompress %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        {% compress js %}
            <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
            <script type="text/javascript" src="/static/js/bootstrap-twipsy.js"></script>
            <script type="text/javascript" src="/static/js/bootstrap-popover.js"></script>
        {% endcompress %}
        {% compress js %}
            <script type="text/coffeescript" src="/static/js/posts.coffee"></script>
        {% endcompress %}
    </head>
    <body>
        <div class="container">
            <!--<div class="topbar" data-scrollspy="scrollspy">-->
            <!--    <div class="topbar-inner">-->
            <!--        <div class="container">-->
            <!--            <a class="brand" href="/">Zoe Striemer</a>-->
            <!--            <ul class="nav">-->
            <!--                <li{% if request.path == "/pages/wedding-photos/" %} class="active"{% endif %}><a href="/pages/wedding-photos/">Wedding Photos</a></li>-->
            <!--                <li{% if request.path == "/pages/ultrasound-photos/" %} class="active"{% endif %}><a href="/pages/ultrasound-photos/">Ultrasound Photos</a></li>-->
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            {% block "content" %}{% endblock %}
        </div>
    </body>
</html>
